flow.json
[{"id":"1d626590.eccb32","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac6e1495.c096f8","type":"switch","z":"1d626590.eccb32","name":"Check Sensor Type","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"53","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":540,"wires":[["e5a0cd98.1a4fd"]]},{"id":"e5a0cd98.1a4fd","type":"switch","z":"1d626590.eccb32","name":"Check Source Addr","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:41:ba:bd:7f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":540,"wires":[["bc9fb337.7c6b48","ae0fb245.10644","a1601b4a.c31f48","73a25a33.e0a824","4fb100bb.c7d57","a2c6dd14.5c4e7","443a682a.520238"]]},{"id":"bc9fb337.7c6b48","type":"change","z":"1d626590.eccb32","name":"","rules":[{"t":"set","p":"payload.mc1_0","pt":"msg","to":"payload.sensor_data.mass_concentration_1_0","tot":"msg"},{"t":"set","p":"payload.mc2_5","pt":"msg","to":"payload.sensor_data.mass_concentration_2_5","tot":"msg"},{"t":"set","p":"payload.mc4_0","pt":"msg","to":"payload.sensor_data.mass_concentration_4_0","tot":"msg"},{"t":"set","p":"payload.mc10_0","pt":"msg","to":"payload.sensor_data.mass_concentration_10_0","tot":"msg"},{"t":"set","p":"payload.nc0_5","pt":"msg","to":"payload.sensor_data.number_concentration_0_5","tot":"msg"},{"t":"set","p":"payload.nc1_0","pt":"msg","to":"payload.sensor_data.number_concentration_1_0","tot":"msg"},{"t":"set","p":"payload.nc2_5","pt":"msg","to":"payload.sensor_data.number_concentration_2_5","tot":"msg"},{"t":"set","p":"payload.nc4_0","pt":"msg","to":"payload.sensor_data.number_concentration_4_0","tot":"msg"},{"t":"set","p":"payload.nc10_0","pt":"msg","to":"payload.sensor_data.number_concentration_10_0","tot":"msg"},{"t":"set","p":"payload.CO2","pt":"msg","to":"payload.sensor_data.CO2","tot":"msg"},{"t":"set","p":"payload.typ_size","pt":"msg","to":"payload.sensor_data.typical_size","tot":"msg"},{"t":"set","p":"payload.humidity","pt":"msg","to":"payload.sensor_data.Humidity","tot":"msg"},{"t":"set","p":"payload.temperature","pt":"msg","to":"payload.sensor_data.Temperature","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":540,"wires":[["d41264dd.0ef2e"]]},{"id":"d41264dd.0ef2e","type":"csv","z":"1d626590.eccb32","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"time,mc1_0,mc2_5,mc4_0,mc10_0,nc0_5,nc1_0,nc2_5,nc4_0,nc10_0,CO2,typ_size,humidity,temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1170,"y":540,"wires":[["1c6a5221.de0d4e"]]},{"id":"1c6a5221.de0d4e","type":"file","z":"1d626590.eccb32","name":"","filename":"/root/air_quality.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1370,"y":540,"wires":[[]]},{"id":"4411bce2.2e2f24","type":"watch","z":"1d626590.eccb32","name":"","files":"/root/air_quality.csv","recursive":"","x":270,"y":820,"wires":[["f62abab1.2cabf"]]},{"id":"f62abab1.2cabf","type":"file in","z":"1d626590.eccb32","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":820,"wires":[["441ef1a0.8c04f8"]]},{"id":"441ef1a0.8c04f8","type":"csv","z":"1d626590.eccb32","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":820,"wires":[["cc48284c.d4c16","5f4932bc.1d51a4","4fc7e89f.df75c","dab95d7c.4d37c","c64ede81.597c88"]]},{"id":"a73b08d.2a94d78","type":"ncd-gateway-node","z":"1d626590.eccb32","name":"","connection":"837142ce.132b28","x":270,"y":540,"wires":[["ac6e1495.c096f8"]]},{"id":"cc48284c.d4c16","type":"function","z":"1d626590.eccb32","name":"","func":"var data = [];\nvar mc2_5 = [];\nvar mc4_0 = [];\nvar mc10_0 = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    if(typeof(msg.payload[i].time) != \"number\")continue;\n    mc2_5.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].mc2_5});\n    mc4_0.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].mc4_0});\n    mc10_0.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].mc10_0});\n}\n\ndata = [mc2_5,mc4_0,mc10_0];\n\nmsg.payload = [{\n    \"series\":[\"mc2_5\",\"mc4_0\",\"mc10_0\"],\n    \"data\":data,\n    \"labels\":[\"mc2_5\",\"mc4_0\",\"mc10_0\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":700,"wires":[["77a1cd77.e58be4"]]},{"id":"77a1cd77.e58be4","type":"ui_chart","z":"1d626590.eccb32","name":"Mass Concentration","group":"4049569b.a89b88","order":5,"width":0,"height":0,"label":"Mass Concentration","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":700,"wires":[[]]},{"id":"5f4932bc.1d51a4","type":"function","z":"1d626590.eccb32","name":"","func":"var data = [];\nvar nc0_5 = [];\nvar nc1_0 = [];\nvar nc2_5 = [];\nvar nc4_0 = [];\nvar nc10_0 = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    if(typeof(msg.payload[i].time) != \"number\")continue;\n    nc0_5.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].nc0_5});\n    nc1_0.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].nc1_0});\n    nc2_5.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].nc2_5});\n    nc4_0.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].nc4_0});\n    nc10_0.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].nc10_0});\n}\n\ndata = [nc0_5,nc1_0,nc2_5,nc4_0,nc10_0];\n\nmsg.payload = [{\n    \"series\":[\"nc0_5\",\"nc1_0\",\"nc2_5\",\"nc4_0\",\"nc10_0\"],\n    \"data\":data,\n    \"labels\":[\"nc0_5\",\"nc1_0\",\"nc2_5\",\"nc4_0\",\"nc10_0\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":760,"wires":[["a70d8c25.26ba"]]},{"id":"a70d8c25.26ba","type":"ui_chart","z":"1d626590.eccb32","name":"Number Concentration","group":"4049569b.a89b88","order":6,"width":0,"height":0,"label":"Number Concentration","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":760,"wires":[[]]},{"id":"4fc7e89f.df75c","type":"function","z":"1d626590.eccb32","name":"","func":"var data = [];\nvar temperature = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    if(typeof(msg.payload[i].time) != \"number\")continue;\n    temperature.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].temperature});\n}\n\ndata = [temperature];\n\nmsg.payload = [{\n    \"series\":[\"temperature\"],\n    \"data\":data,\n    \"labels\":[\"temperature\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":820,"wires":[["4794d8bb.8ba1d8"]]},{"id":"4794d8bb.8ba1d8","type":"ui_chart","z":"1d626590.eccb32","name":"Temperature","group":"4049569b.a89b88","order":7,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":820,"wires":[[]]},{"id":"dab95d7c.4d37c","type":"function","z":"1d626590.eccb32","name":"","func":"var data = [];\nvar humidity = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    if(typeof(msg.payload[i].time) != \"number\")continue;\n    humidity.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].humidity});\n}\n\ndata = [humidity];\n\nmsg.payload = [{\n    \"series\":[\"humidity\"],\n    \"data\":data,\n    \"labels\":[\"humidity\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":880,"wires":[["8b9b0e07.730f3"]]},{"id":"8b9b0e07.730f3","type":"ui_chart","z":"1d626590.eccb32","name":"Humidity","group":"4049569b.a89b88","order":8,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":880,"wires":[[]]},{"id":"c64ede81.597c88","type":"function","z":"1d626590.eccb32","name":"","func":"var data = [];\nvar CO2 = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    if(typeof(msg.payload[i].time) != \"number\")continue;\n    CO2.push({\"x\":msg.payload[i].time,\"y\":msg.payload[i].CO2});\n}\n\ndata = [CO2];\n\nmsg.payload = [{\n    \"series\":[\"CO2\"],\n    \"data\":data,\n    \"labels\":[\"CO2\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":940,"wires":[["2e742dbb.0e7dda"]]},{"id":"2e742dbb.0e7dda","type":"ui_chart","z":"1d626590.eccb32","name":"CO2","group":"4049569b.a89b88","order":9,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":940,"wires":[[]]},{"id":"ae0fb245.10644","type":"switch","z":"1d626590.eccb32","name":"","property":"payload.sensor_data.mass_concentration_2_5","propertyType":"msg","rules":[{"t":"gte","v":"40.0","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":180,"wires":[["ee08e6d2.14515"],["d6faedcf.9a743"]]},{"id":"ee08e6d2.14515","type":"change","z":"1d626590.eccb32","name":"Turn Lamp On","rules":[{"t":"set","p":"payload.address","pt":"msg","to":"00:13:a2:00:41:d7:50:a4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":160,"wires":[["17c27dec.54ff8a"]]},{"id":"d6faedcf.9a743","type":"change","z":"1d626590.eccb32","name":"Turn Lamp Off","rules":[{"t":"set","p":"payload.address","pt":"msg","to":"00:13:a2:00:41:d7:50:a4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[["54391817.8424a"]]},{"id":"54391817.8424a","type":"function","z":"1d626590.eccb32","name":"OFF","func":"msg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x00,0x01,0x01,0x00,0x6E];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":200,"wires":[["a73b08d.2a94d78"]]},{"id":"17c27dec.54ff8a","type":"function","z":"1d626590.eccb32","name":"ON","func":"msg.payload.data = [0xAA,0x07,0xBD,0x01,0xFD,0x01,0x01,0x01,0x00,0x6F];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":160,"wires":[["a73b08d.2a94d78"]]},{"id":"9a598650.897828","type":"ui_gauge","z":"1d626590.eccb32","name":"","group":"4049569b.a89b88","order":4,"width":"3","height":"3","gtype":"gage","title":"Battery Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#f7fa47","#67cb3a"],"seg1":"50","seg2":"70","x":1190,"y":600,"wires":[]},{"id":"a1601b4a.c31f48","type":"change","z":"1d626590.eccb32","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":600,"wires":[["9a598650.897828"]]},{"id":"73a25a33.e0a824","type":"debug","z":"1d626590.eccb32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":680,"wires":[]},{"id":"baa9dab1.e5ca5","type":"ncd-wireless-node","z":"1d626590.eccb32","name":"","connection":"837142ce.132b28","config_comm":"837142ce.132b28","addr":"00:13:a2:00:41:ba:bd:7f","sensor_type":"53","auto_config":true,"node_id":0,"delay":"300","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":320,"y":340,"wires":[[]]},{"id":"8186f7d6.48ed08","type":"ui_gauge","z":"1d626590.eccb32","name":"","group":"4049569b.a89b88","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"Degrees F","format":"{{value}}","min":0,"max":"100","colors":["#db1414","#00e61b","#ca3838"],"seg1":"60","seg2":"80","x":1430,"y":340,"wires":[]},{"id":"4fb100bb.c7d57","type":"change","z":"1d626590.eccb32","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":340,"wires":[["66db7cf9.0add04"]]},{"id":"c6a45664.8e3d58","type":"ui_gauge","z":"1d626590.eccb32","name":"","group":"4049569b.a89b88","order":2,"width":"3","height":"3","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b3002d","#00e62e","#ca3838"],"seg1":"35","seg2":"55","x":1280,"y":380,"wires":[]},{"id":"a2c6dd14.5c4e7","type":"change","z":"1d626590.eccb32","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["c6a45664.8e3d58"]]},{"id":"f237832c.b83d","type":"ui_gauge","z":"1d626590.eccb32","name":"","group":"4049569b.a89b88","order":3,"width":"3","height":"3","gtype":"gage","title":"Air Quality","label":"2.5 Concentration","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":1290,"y":420,"wires":[]},{"id":"443a682a.520238","type":"change","z":"1d626590.eccb32","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.mass_concentration_2_5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":420,"wires":[["f237832c.b83d"]]},{"id":"3d8e78a4.140268","type":"inject","z":"1d626590.eccb32","name":"","props":[{"p":"payload.address","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":80,"wires":[["ee08e6d2.14515"]]},{"id":"2c9d0a8f.89ced6","type":"inject","z":"1d626590.eccb32","name":"","props":[{"p":"payload.address","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":890,"y":120,"wires":[["d6faedcf.9a743"]]},{"id":"66db7cf9.0add04","type":"function","z":"1d626590.eccb32","name":"","func":"msg.payload = (msg.payload*1.8)+32;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":340,"wires":[["8186f7d6.48ed08"]]},{"id":"837142ce.132b28","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttyS1","baudRate":"115200","pan_id":"7FFF","rssi":true},{"id":"4049569b.a89b88","type":"ui_group","name":"Production Department","tab":"13679185.a7e496","order":1,"disp":true,"width":"12","collapse":false},{"id":"13679185.a7e496","type":"ui_tab","name":"Air Quality","icon":"dashboard","disabled":false,"hidden":false}]
